---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Home">
  <p class="text-fuchsia-500">
    Hier entsteht eine Plattform, zum erstellen von Blogposts und Open-Source
    Kursen, rund um das Thema IT, Computerwissenschaften und
    Softwareentwicklung.
  </p>
</Layout>
