---
import Layout from "@/layouts/Layout.astro";
import Prose from "@/components/prose.astro";

const pb = Astro.locals.pb;
let record;
let imageUrl;
if (pb) {
  try {
    const records = await pb.collection("posts").getFullList({
      sort: "-created",
    });
    record = records[0];
    const token = await pb.files.getToken();
    const fileName = record.image;
    imageUrl = pb.files.getUrl(record, fileName, { token: token });
  } catch (error) {
    console.error(error);
  }
}
---

<Layout title="Blogs">
  <h1>Blogs</h1>
  <div class="border p-4">
    {
      pb && imageUrl && (
        <>
          <img src={imageUrl} alt="test" />
          <h2>{record!.title}</h2>
          <p>{record!.description}</p>
          <hr />
          <Prose set:html={record!.content} />
        </>
      )
    }
  </div>
</Layout>
