---
import Layout from "@/layouts/Layout.astro";

const pb = Astro.locals.pb;

const userId = pb.authStore.model?.id;

console.log(userId);

const articles = await pb.collection("posts").getFullList({
  filter: pb.filter("author = {:userId}", { userId }),
});
---

<Layout title="dashboardArticleList">
  {
    articles.map((article) => {
      return (
        <a href={`/dashboard/article/${article.id}`}>
          <div class="border border-slate-500 rounded-md p-6">
            <h2 class="text-3xl">{article.title}</h2>
            <p class="text-muted-foreground">{article.description}</p>
          </div>
        </a>
      );
    })
  }
</Layout>
